<div style="text-align:center">
  <h1>
    Canal Geekdev - Aprenda Angular
  </h1>
  <h2>
    Rotas e navegação
  </h2>
</div>

<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/departamento" routerLinkActive="active">Departamento</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/funcionario" routerLinkActive="active">Funcionário</a>
  </li>
</ul>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
